REQUESTS_VERIFY_SSL=false

# Priority Cloud API
# כתובת URL מלאה של Priority OData כולל שם חברה
PRIORITY_URL_REAL=https://YOUR_COMPANY.priority-connect.online/odata/Priority/tabula.ini/COMPANY/

# שם משתמש ב-Priority
PRIORITY_USERNAME=YOUR_USERNAME

# סיסמה / API key
PRIORITY_PASSWORD=YOUR_PASSWORD
